.gameContainer {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.gameInformationDetail {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outer-border-gamecard {
    border: 2px solid #DE9B72;
    height: auto;
    width: auto;
    padding: 3px;
    margin: 0 auto;
    background-color: brown !important;
    color: #DE9B72;
}

.mid-border-gamecard {
    border: 4px solid #DE9B72;
    height: auto;
    width: auto;
    padding: 3px;
    margin: auto;
}

.inner-border-gamecard {
    position: relative;
    border: 2px solid #DE9B72;
    height: auto;
    width: auto;
    margin: auto;
}

.cardHeader {
    background-color: brown;
    border-bottom: 1px solid #DE9B72;
    padding: 0.75rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardBody {
    padding: 1.25rem 0;
    border-bottom: 1px solid #DE9B72;
}   

.cardFooter {
    padding: 1.25rem 0 0 0;
    background-color: brown;
}

.cardText {

}