/* .gamePageContainer{
    display: flex;
    justify-content:right;
}
.gameAreaContainer{
    flex-grow: 1;
}
.listOnlineAreaContainer{
    flex-grow: 0;
    background-color:#e0e0e0;
} */
.dark-background {
    background: var(--dark-color), 
    linear-gradient(to right, rgb(103, 64, 6) 0%, rgb(86, 34, 0) 100%);
  }